@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Miniver&family=Outfit:wght@100..900&family=Prata&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

.logo {
  font-family: "Basas Neue", sans-serif;
}
